/* Reset */
*, html * {
    box-sizing: border-box;
    margin: 0;
}

/* Global */
body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 62.5%;
}


/* Barra de navegacion */
nav {
    background-color: #28A745;
    height: 4.5rem;
}

.navbar-toggler {
    border-width: 1px !important;
    border-color: #FFFFFF80;
}

/* Cards */
.card {
    margin-bottom: 2rem !important;
}

.card-title {
    color: #212529;
}

.card-text {
    color: #707070;
}

#map-dot {
    font-size: 0.8rem !important;
}

.precio-original {
    color: #707070;
}

.precio-oferta {
    color: #28A745;
}

/* Fomulario */
form {
    background-color: #28A745;
}

form .btn {
    border-radius: 4px;
    width: 8rem;
}

form input::placeholder {
    color: #707070;
}

